
/* about */
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .about-section{
  
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
  }
  .about-text{
    padding: 12px;
  }
  .about-text h4{
    margin-bottom: 15px;
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      color: #999;
      font-weight: 500;
      letter-spacing: 5px;
      font-family: Quicksand, Arial, sans-serif;
  }
  .about-text h5{
    font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 1.8;
      position: relative;
      margin: 0 0 30px;
      color: #000;
      font-family: Playfair Display, Georgia, serif;
  
  }
  .about-text p{
    margin-bottom: 1.5em;
    font-family: Quicksand, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #000000b3;
  }
  .cards {
  width: 30% !important;
  }
  .card {
    height: 200px;
    width: 250px;
    border-radius: 0px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
  }
   
  .card-icon {
    font-size: 30px;
    color: #2c98f0;
  }
  
  .card-title {
    color: white;
  }
  
   .card-title{
    color: #000;
    font-family: Playfair Display, Georgia, serif;
    font-weight: 400;
    margin: 0 0 30px;
    font-size: 16px;
    padding-top: 10px;
   }